<!-- html to show designs if artist is isLoggedIn -->

<!doctype html>
<html>
<head>
  <title>Marker</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="mainContainer">

  <header>
    <nav>
      <h1 ><a href="/">M<span class="arH1">ar</span>ker</a></h1>
      <h3>Designs</h3>
      <p><a href="javascript:login('show');">sign in</a></p>
      <p class="signUp"><a href="javascript:signup('show');">get started</a></p>
    </nav>
  </header>
  <div class="well">
  <% if (design) { %>
  <p class="profileInfo">
  <center>
    <img class="src designs" src="data:image/png;base64,<%= design.image %>" alt=""><br>
  <button style="width: 15%; margin: 5%;" class="arObject tryBtn" type="button" data-source="<%= design.image %>">Try Now</button>
  </center>
  </p>
  <% } %>
    </div>
</div>
  <footer>
      <p>About</p>
      <p>Contact</p>
      <p>Terms</p>
  </footer>
  <script type="text/javascript" src="/send.js" ></script>
  </body>
</html>
