<!-- homepage -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Marker</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div class="mainContainer">
    <header>
      <nav>
        <h1 style="margin-right: 75%;"><a href="/">M<span class="arH1">ar</span>ker</a></h1>
        <p><a href="javascript:login('show');">sign in</a></p>
        <p class="signUp"><a href="javascript:signup('show');">get started</a></p>
      </nav>
    </header>
  <div id="popupbox">
    <a class="closeBtn" href="javascript:login('hide');"><i class="fas fa-times"></i></a>

    <h2>Welcome back.</h2>

    <form action="/login" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>
    <br />
  </div>

  <div id="popupbox-signup">

    <a class="closeBtn" href="javascript:signup('hide');"><i class="fas fa-times"></i></a>
    <h2>Join Marker.</h2>

    <form action="/signup" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="cityState" placeholder="City, State">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="instagram" placeholder="Instagram">
      </div>
      <span>Upload your profile photo: </span>
      <br>
      <div class="form-group">
        <input style="height: 25px;
    background: rgba(229, 229, 229, 0.1);
    border: none;" type="file" class="chooseFbtn" name="profilePhoto">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
    </form>
    <br />
  </div>
  <div class="hero">
    <img src="img/hand.png" alt="">
    <h2>Success starts with visualization</h2>
    <h2>Try tattoo designs in real-time</h2>
  </div>
  <h4>With the latest augmented reality technologies, designs uploaded by artists can bew viewed live on any skin complexion.</h4>
  <div class="container">
  	<div class="row">
  		<div class="col-md-4 col-sm-6">
  			<figure class="ocean">
  				<figcaption>
  					<a href="">
  					<strong style="color: white;">Print Marker</strong>
  					</a>
  				</figcaption>
  			</figure>
  		</div>
  		<div class="col-md-4 col-sm-6">
  			<figure class="ocean">
  				<figcaption>
            <strong><a style="color: white;"href="/public">Choose a design</a></strong>
  				</figcaption>
  			</figure>
  		</div>
  		<div class="col-md-4 col-sm-6">
  			<figure class="ocean">
  				<figcaption>
            <a href="">
  					<strong style="color: white;">Experience A.R. Art</strong>
          </a>
  				</figcaption>
  			</figure>
  		</div>

  	</div>
  </div>
  <!-- <header>
  <section class="logIn">
  <a href="/artist">Login</a>
  <a href="/signup">Signup</a>
</section>
</header>
 -->
</div>
<footer>
    <p>About</p>
    <p>Contact</p>
    <p>Terms</p>
</footer>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
